*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.brand-color{
    color: #D80032;
}

.brand-bg-color{
    background-color: #D80032;
    color: white;
}

.brand-bg-color:hover{
    background-color: #F78CA2;
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    color: #F78CA2;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #D80032;
}

.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color: #F78CA2;
}

header{
    box-shadow: 2px 2px 4px #F78CA2;
}

.banner{
    display: flex;
    background: linear-gradient(#F78CA2, rgba(0, 0, 0, 0.1)), url('../img/newback2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 86px);
    flex-direction: column;
    justify-content: center;
}

span.spicy{
    color: #D80032;
}

span.tasty{
    color: #D80032;
}

.btn-order, .btn-order:active, .btn-order:visited{
    width: fit-content;
    background-color: white;
    border: 1px solid #D80032;
    color: #D80032;
    border-radius: 15px;
}

.btn-order:hover{
    background-color: #D80032;
    border: 1px solid #D80032;
    color: white;
}

.fa.fa-star{
    color: #E9B824;
}

.add-to-cart{
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
}

.btn-add-to-cart, .btn-add-to-cart:focus, .btn-add-to-cart:active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #D80032;
    border-color: #F78CA2;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}